body {
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white
}
.card {
  background-color: rgba(7, 9, 133, 0.2);
  color: white;
  padding: 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  margin: 15px;
}
.card:hover {
  background-color: rgba(7, 9, 133, 0.2);
  color: white;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid rgb(10, 42, 223);
  backdrop-filter: blur(10px);
  margin: 15px;
}

.navbar {
  background-image: linear-gradient(to right, #7c6594, #000); /* Degradê de #7c6594 para preto */
  border-radius: 20px;
  backdrop-filter: blur(30px);
  border: 2px solid #bd86f7;
  margin: 30px;
  padding: 10px;
  transition: background-color 0.3s ease; /* Transição suave para mudanças de cor de fundo */
  transform: translateY(0); 
}

.navbar .nav-link {
  color: white !important; /* Garante que o texto seja branco */
}

.navbar .nav-link:hover {
  color: #e6e6e6 !important; /* Cor do texto ao passar o mouse */
}

.navbar .navbar-brand {
  color: white !important; /* Cor do texto da marca do navbar */
}
.navbar-toggler-icon {
  color: white !important; /* Cor do ícone de menu */
}

.user-menu .dropdown-toggle {
  color: white !important; /* Cor do ícone de usuário */
}

.navbar-toggler {
  border: none; /* Remove a borda padrão */
  background-color: transparent; /* Define o background como transparente */
  outline: none; /* Remove o contorno ao focar */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para a transformação */
}

.navbar-toggler-icon {
  color: white; /* Cor do ícone */
}

/* Estilo ao passar o mouse */
.navbar-toggler:hover {
  transform: scale(1.5); /* Aumenta ligeiramente o tamanho do ícone ao passar o mouse */
}
@keyframes blink {
  0% {

   
  border: 3px solid rgb(255, 0, 0);
  }

  50% {

    
  border: 3px solid rgb(255, 255, 255);
  opacity: 0.5;
  }

  100% {
   
  border: 3px solid rgb(255, 0, 0);
  }
}

.alert {
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgb(2, 0, 0);
  backdrop-filter: blur(5px);
  animation: blink 3s infinite;
  margin: 10px;
  opacity: 0.8;
}
.img-production-logo {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card img {
  width: 100%; /* Garante que a imagem de fundo ocupe toda a largura do card */
  height: auto; /* Mantém a proporção da imagem */
}

.img-logo-production{
  margin-left: 100%;
}

.card-production{
  background-color: rgba(5, 33, 92, 0.8);
 color: rgb(255, 255, 255);
 padding: 50px;  
 backdrop-filter: blur(1px);
 font-size:15px;
 border-radius: 30px;
 margin: 15px;
 border: 3px solid rgb(255, 255, 255);
}
.card-production:hover{
  background-color: rgba(5, 33, 92, 0.8);
 color: rgb(255, 255, 255);
 padding: 50px;  
 backdrop-filter: blur(1px);
 font-size:15px;
 border-radius: 30px;
 margin: 15px;
 border: 3px solid rgb(10, 14, 255);
}

.card-user{
  
  background-image: linear-gradient(to right, #092e35, #010825); 
 color: rgb(199, 232, 241);
 padding: 15px;  
 backdrop-filter: blur(1px);
 font-size:15px;
 border-radius: 30px;
 margin: 15px;
 border: 1px solid rgb(255, 255, 255);
}
.card-user:hover{
  
  background-color: rgba(1, 5, 15);
 color: rgb(255, 255, 255);
 padding: 15px;  
 backdrop-filter: blur(1px);
 font-size:15px;
 border-radius: 30px;
 margin: 15px;
 border: 3px solid rgb(255, 255, 255);
}
.auth-dropdown{
  margin-right: 5%;
  border: 10px solid black;
  color:white;
}

/* Estilização da caixa de dropdown */
.auth-dropdown .dropdown-menu {
  left: -50%; /* Ajusta a posição da caixa de dropdown para a esquerda */
  border: none; /* Remove a borda */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
  background-image: linear-gradient(to right, #96e5f3, #f0f0f0); /* Define um degradê de cores claras */
}

/* Estilização dos itens do dropdown */
.auth-dropdown .dropdown-item {
  color: #333; /* Define a cor do texto */
}

/* Estilização dos itens do dropdown quando estão sendo destacados */
.auth-dropdown .dropdown-item:hover {
  background-color: #f8f8f8; /* Define a cor de fundo quando o item é destacado */
}
